body { 
  background: url(bg_blur.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}