<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Want Passes?</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/css/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Passes for Late Meal</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/passes">Want Passes?</a></li>
              <li><a href="/latemeal">Want Late Meal?</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/myrequests">My Requests</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

<form action="/makelisting" method="post">
  <h1 style="color:black">I want
      <input type="hidden" name="wantsPasses" value="True">
      <input type="hidden" name="club" value={{ club }}>
  <!-- Single button -->
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
    {{ club }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/passes?club=cap">Cap</a></li>
    <li><a href="/passes?club=cannon">Cannon</a></li>
    <li><a href="/passes?club=cottage">Cottage</a></li>
    <li><a href="/passes?club=ivy">Ivy</a></li>
    <li><a href="/passes?club=ti">TI</a></li>
    <li><a href="/passes?club=tower">Tower</a></li>
  </ul>
</div>
passes
     </h1>
      <div><textarea name="details" class="form-control" rows="3" cols="60" placeholder="Optional: add details"></textarea></div>
      <div><input type="submit" class="btn btn-primary" value="Submit Request">
</div>
</form>
          <div class="table-responsive">


            <table class="table table-striped">
              <tbody>

                <tr>
                <th width="50">Club name</th>
                <th width="50">Details</th>
                <th width="50">Time of Request</th>
                <th width="50">Contact</th>
                <th width="50">Action</th>
                </tr>
                {% for listing, prettyDate in listings %}

                <tr>
                  <td>{{ listing.club }}</td>
                  <td>{{ listing.details }}</td>
                  <td>{{ prettyDate }}</td>
                  <td><a href="./homepage_files/homepage.html" class="btn btn-default">Contact</a></td>   
                  <td><form action="/deletelisting" method="post"><input type="submit" class="btn btn-danger" value="Delete">
              <input type="hidden" name="netid" value="{{ listing.netid }}">
              <input type="hidden" name="date" value="{{ listing.date }}">
                    </form></td>              
                </tr>

                {% endfor %}



              </tbody>
            </table>
          </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <p1> Want to send an email to yourself? Use the link below!</p1>
        <form action="/email" method="post">
        <input type="submit" class="btn btn-success" value="Email">
        </form> 
        </br>
        </br>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./bootstrap/js/docs.min.js"></script>
  </body>
</html>