<html>

<head>

<title>"Form expand example"</title>

</head>

<body>

<div>

<form id="myform" style="display:none" action="">

First name: <input type="text" name="fname" >

<P>

Email address: <input type="text" name="email" >

</form>

</div>

<div>

<P>Check this box if you'd like us to send you more information about our product.

<input type="checkbox" id="opt_in" onchange="ShowHideForm();">

</div>

</body>

<script type="text/JavaScript">

function ShowHideForm () {

var v = document.getElementById("opt_in").checked;

var f = document.getElementById("myform");

if (v) {

f.style.display="inline";

}

else {

f.style.display="none";

}

}

</script>

</html>